header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/*===================== CTA ==========================*/

.CTA {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*=================== header Socials =================*/
.header__socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 3rem;
    align-items: center;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* =================== scroll down ==================== */
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*=================== img ==========================*/
.me {
    background-color: var(--color-primary);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    background: linear-gradient(var(--color-primary));
    /* background: linear-gradient(var(--color-primary), transparent); */
    /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

/*========================= Media Queries (Meduim devices) =========================*/
@media screen and (max-width:1024px) {
    header {
        height: 68vh;
    }
}

/*========================= Media Queries (Small devices) =========================*/
@media screen and (max-width:600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll_down {
        display: none;
    }
}